@{
    ViewData["Title"] = "CafeProjects";
}
            <div class="box shadow">
                <ul id="menu" class="list">
                    <li><a class="menuitem" href="@Url.Action("/Home/Nearest", "Home")">Ближайшие кафе</a></li>
                    <li><a class="menuitem" href="#">Все заведения</a></li>
                    <li><a class="menuitem" href="#">Поиск блюда</a></li>
                    <li><a class="menuitem" href="#">Отзывы</a></li>
                    <li><a class="menuitem" href="#">Статистика заведений</a></li>
                </ul>
            </div>