@using PagedList.Mvc
@using CafeProject.MobileWebApplication.Models
@model NearestModel
@{
    ViewData["Title"] = "Nearest";
}
@section Metadata {
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/nearest.css")" />
}
@section Scripts {
}
            <div class="messages">
                <div id="nearest-get-list" class="message shadow">
                    <img class="loading" src="/Content/Images/loading.gif" />
                    <span>Загрузка данных с сервера</span>
                </div>
                <div id="ajax-request-error" class="message error shadow">
                    <span>Неудалось получить данные<br />Повторите попытку позднее</span>
                </div>
            </div>
            <div class="box shadow">
                @Html.Partial("~/Home/_NearestList.cshtml", Model)
            </div>