@using CafeProject.MobileWebApplication.Models
@{
    ViewBag.Title = "Enter";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/layout.css")" />
}

<div class="box shadow">
    <form method="post">
            <ul id="menu" class="list">
               <li style="padding : 5px;"> Личный кабинет :</li>
                <li>
                    <table>
                        <tr>
                            <td id="leftcol" style="background-color: #7bdb7f;">E-mail :</td>
                            <td id="rightcol" style="background-color: #4978e3;">
                            <input type="text" size="25" maxlength="50" name="Login" required placeholder="Ваш логин" />
                            </td>
                        </tr>
                        <tr>
                            <td id="leftcol" style="background-color: #8ae6b4;">Пароль :</td>
                            <td id="rightcol" style="background-color: #6d8bef;">
                            <input type="password" size="25" maxlength="50" name="Password" required placeholder="Ваш пароль" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" value="Вход">
                                </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a href="@Url.Content("Registration")" class="button blue">Регистрация</a>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
    </form>

</div>
